<a href="https://colab.research.google.com/github/MayukhaI12/Assignment-10/blob/main/A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [4]:
#@title Lists: An Introduction

#Data Type
My_Family_list = ["Amma","Nanna"]
print("List of Element", My_Family_list)

#List Type
print("Data Type", type(My_Family_list))

List of Element ['Amma', 'Nanna']
Data Type <class 'list'>

In [14]:
#@title 1.Creating an empty list

My_Family_list = []
print("List of Element", My_Family_list)
print("Length of the list is", len(My_Family_list))

List of Element []
Length of the list is 0

In [10]:
#@title 2.Creating a list with some elements
My_Family_List = ['Amma','Nanna','Me','Agastya']
print("List of Element", My_Family_List)

List of Element ['Amma', 'Nanna', 'Me', 'Agastya']

In [20]:
#@title 3.Adding elements at the end


#Adding elements at the end using 'append'.  
My_Family_List = ['Amma','Nanna']
print("My Family List", My_Family_List)

My_Family_List.append('Me')
My_Family_List.append('Agastya')

print("My Family List after adding kids at the end using append:",My_Family_List)

#Adding elements at the end using 'extend'.
My_Family_List = ['Amma','Nanna']
print("My Family List", My_Family_List)

My_Family_Kids_List = ['Me','Agastya']
My_Family_List.extend(My_Family_Kids_List)

print("My Family List After Adding Kids at the end using Extend", My_Family_List)

My Family List ['Amma', 'Nanna']
My Family List after adding kids at the end using append: ['Amma', 'Nanna', 'Me', 'Agastya']
My Family List ['Amma', 'Nanna']
My Family List After Adding Kids at the end using Extend ['Amma', 'Nanna', 'Me', 'Agastya']

In [25]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"
print("First Person in the family using Positive Index:" , My_Family_List[0])
print("Second Person in the family using Positive Index:" , My_Family_List[1])
print("Third Person in the family using Positive Index:" , My_Family_List[2])
print("Fourth Person in the family using Positive Index:" , My_Family_List[3])

First Person in the family using Positive Index: Amma
Second Person in the family using Positive Index: Nanna
Third Person in the family using Positive Index: Me
Fourth Person in the family using Positive Index: Agastya

In [26]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"

print("Youngest Person in the family using Negative Index:" , My_Family_List[-1])
print("Second youngest Person in the family using Negative Index:" , My_Family_List[-2])
print("Second oldest Person in the family using Negative Index:" , My_Family_List[-3])
print("Oldest Person in the family using Negative Index:" , My_Family_List[-4])

Youngest Person in the family using Negative Index: Agastya
Second youngest Person in the family using Negative Index: Me
Second oldest Person in the family using Negative Index: Nanna
Oldest Person in the family using Negative Index: Amma

In [37]:
#@title 6.Adding an element at the front of the list
My_Family_List = ['Amma','Nanna','Me','Agastya']

My_Family_List.insert(0,'Mat - Thatha')
My_Family_List.insert(1,'Pat - Thatha')
My_Family_List.insert(2,'Ammamma')
My_Family_List.insert(3,'Nannamma')

print("List after inserting in the front using 'insert' command:",My_Family_List)

List after inserting in the front using 'insert' command: ['Mat - Thatha', 'Pat - Thatha', 'Ammamma', 'Nannamma', 'Amma', 'Nanna', 'Me', 'Agastya']

In [ ]:
#@title 7.Adding an element anywhere (at a specific index) 
My_Family_List = ['Amma','Nanna','Me','Agastya']

My_Family_List.insert(0,'Mat - Thatha')
My_Family_List.insert(1,'Pat - Thatha')
My_Family_List.insert(2,'Ammamma')
My_Family_List.insert(3,'Nannamma')

print("List after inserting in the front using 'insert' command:",My_Family_List)

In [39]:
#@title 8.Updating (or Replacing) an element
My_Family_List.pop(0)
My_Family_List.insert(0,'Shankar Sastry')

My_Family_List.pop(1)
My_Family_List.insert(1,'Samba Siva Rao')

My_Family_List.pop(2)
My_Family_List.insert(2,'Koumari')

My_Family_List.pop(3)
My_Family_List.insert(3,'Jagadamba')



print("My family list after modifying:",My_Family_List)

My family list after modifying: ['Shankar Sastry', 'Samba Siva Rao', 'Koumari', 'Jagadamba', 'Amma', 'Nanna', 'Me', 'Agastya']

In [41]:
#@title 9.Looping through the list (just for READING)
for i in range(0,len(My_Family_List)):
  print("Family Member at position", i+1 ,"is", My_Family_List[i])

Family Member at position 1 is Shankar Sastry
Family Member at position 2 is Samba Siva Rao
Family Member at position 3 is Koumari
Family Member at position 4 is Jagadamba
Family Member at position 5 is Amma
Family Member at position 6 is Nanna
Family Member at position 7 is Me
Family Member at position 8 is Agastya

In [43]:
#@title 10.Looping through the list (for UPDATING)
My_List = [1,2,3,5,10,12,11,30,99,999]
print("My list before replacement:", My_List)
for i in range(0,len(My_List)):
  My_List[i]=i 

print("My list after replacement:", My_List)

My list before replacement: [1, 2, 3, 5, 10, 12, 11, 30, 99, 999]
My list after replacement: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list
print("Length of my list is:",len(My_List))

Length of my list is: 10

In [47]:
#@title 12.Common Operations: Find the maximum in the list
My_List = [1,2,3,5,10,12,11,30,99,999]
print("Maximum of my list is:",max(My_List))

Maximum of my list is: 999

In [ ]:
#@title 13.Common Operations: Find the minimum in the list
print("Minimum of my list is:",min(My_List))

In [48]:
#@title 14.Common Operations: Find the sum of elements in the list
print("The sum of the elements of my list is:",sum(My_List))

The sum of the elements of my list is: 1172

In [53]:
#@title 14.Removing an element by value

for i in range(0,len(My_List)):
  if (My_List[i] == 10):
    My_List.pop(i)
    break

print("My list after removing the specific value:",My_List)

My list after removing the specific value: [1, 2, 3, 12, 11, 99, 999]

In [54]:
#@title 15.Removing the last element in the list
My_List.pop(-1)

print("My list after removing the last element in the list:",My_List)

My list after removing the last element in the list: [1, 2, 3, 12, 11, 99]

In [63]:
#@title 16.Removing an element at a given index
My_List = [1,2,3,5,10,12,11,30,99,999]

for i in range(0,len(My_List)):
  print("The value of the list at",i,"index is",My_List[i])
  x = input("Do you want to remove it? (Yes or No): ")
  if (x == 'yes'):
    My_List.pop(i)
    break
  else:
    continue

print("List after modification:",My_List)

The value of the list at 0 index is 1
Do you want to remove it? (Yes or No): no
The value of the list at 1 index is 2
Do you want to remove it? (Yes or No): no
The value of the list at 2 index is 3
Do you want to remove it? (Yes or No): q
The value of the list at 3 index is 5
Do you want to remove it? (Yes or No):
The value of the list at 4 index is 10
Do you want to remove it? (Yes or No):
The value of the list at 5 index is 12
Do you want to remove it? (Yes or No):
The value of the list at 6 index is 11
Do you want to remove it? (Yes or No):
The value of the list at 7 index is 30
Do you want to remove it? (Yes or No):
The value of the list at 8 index is 99
Do you want to remove it? (Yes or No):
The value of the list at 9 index is 999
Do you want to remove it? (Yes or No):
List after modification: [1, 2, 3, 5, 10, 12, 11, 30, 99, 999]

In [ ]:
#@title 17.Extending a list
#(Adding several elements to one list)

In [ ]:
#@title 18.Search for an element. What is the index?

In [ ]:
#@title 19.Count the number of times an element is appearing

In [ ]:
#@title 20.Checking for Membership (in)

54.3 ns ± 5.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
#@title 21.Checking for Membership (not in)

In [ ]:
#@title 22.Reverse a list

In [ ]:
#@title 23.Sort a list

In [ ]:
#@title 24.Copy a list (Caution: Don't reassign)

In [ ]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

In [ ]:
#@title 26.Delete the entire list

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists